*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
@font-face {
    font-family: poppinsregular;
    src:url(../Fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: tinosregular;
    src:url(../Fonts/Tinos/Tinos-Regular.ttf);
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}
#navlinks{
    color: black;
    font-family: poppinsregular;
    display: flex;
    gap: 20px;
}
#homelink{
    color: orangered;
}
.othernavlink{
    color: black;
}
#blocks1{
    display: flex;
}
#block1{
    font-family: poppinsregular;
    width: 750px;
    margin: 50px 40px;
}
#blk1h2{
    font-size: 80px;
}
#blk1p{
    font-size: 20px;
}
#blk1a{
    margin-left: 70px;
    margin-top: 30px;
    display: flex;
    gap: 150px;
}
.blk1ai{
    border-radius: 20px;
    padding: 10px 20px;
}
#ai1{
    background-color: orangered;
    color: white;
    font-family: poppinsregular;
}
#ai2{
    background-color: rgb(50, 221, 50);
    color: white;
    font-family: poppinsregular;
}
#blocks2{
    display:flex;
    background-color: rgb(196, 247, 242);
}
#blocks2h2{
    font-family: poppinsregular;
    color: orangered;
    font-size: 50px;
    width: 500px;
}
span{
    color: black;
}
#blocks22{
    width: 500px;
    height: 500px;
    margin-top: 150px;
}
#blocks2p{
    font-family: poppinsregular;
    font-size: 20px;
    margin: 20px 20px;
}
#blkcs2a{
    margin: 80px 20px;
    display: flex;
    border-radius: 20px;
    background-color: orangered;
    font-family: poppinsregular;
    width: 160px;
    justify-content: center;
}
#blkcs2ai{
    color: white;
    padding: 10px 20px;
}
#header{
    margin-top: 20px;
}
#block3headh2{
    font-family: poppinsregular;
    color: brown;
    margin: 20px auto;
    font-size: 50px;
    width: 700px;
}
#block3heada{
    font-family: poppinsregular;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.b3ha{
    color: brown;
    background-color: rgb(206, 222, 236);
    padding: 10px 20px;
    border-radius: 20px;
}
#b3ha1{
    background-color: brown;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
}
#bl3main{
    gap: 35px;
    margin: 40px auto ;
    flex-wrap: wrap;
    justify-content:space-between;
    display: flex;
    width: 1112px;
}
#blk3b1{
    padding-top: 40px;
    border-radius: 20px ;
    background-color:#D0CCC7;
    font-family: poppinsregular;
    text-align: center;
    width: 344px;
}
#blk3b1l{
    font-family: poppinsregular;
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
#blk3b1l a{
    width: 150px;
    border-radius: 20px;
    padding: 10px 20px;
    color: white;
    background-color:orangered;
}
#rating1{
    margin-top: 10px;
}
#blk3b2{
    padding-top: 40px;
    border-radius: 20px ;
    background-color: #D0CCC7;
    font-family: poppinsregular;
    text-align: center;
    width: 344px;
    
}
#blk3b2l{
    font-family: poppinsregular;
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
#blk3b2l a{
    width: 150px;
    border-radius: 20px;
    padding: 10px 20px;
    color: white;
    background-color:orangered;
}
#rating2{
    margin-top: 10px;
}
#blk3b3{
    padding-top: 40px;
    border-radius: 20px ;
    background-color:#D0CCC7;
    font-family: poppinsregular;
    text-align: center;
    width: 344px;
    
}
#blk3b3l{
    font-family: poppinsregular;
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
#blk3b3l a{
    width: 150px;
    border-radius: 20px;
    padding: 10px 20px;
    color: white;
    background-color:orangered;
}
#rating3{
    margin-top: 10px;
}
#blk3b4{
    padding-top: 40px;
    border-radius: 20px ;
    background-color: #D0CCC7;
    font-family: poppinsregular;
    text-align: center;
    width: 344px;
    
}
#blk3b4l{
    font-family: poppinsregular;
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
#blk3b4l a{
    width: 150px;
    border-radius: 20px;
    padding: 10px 20px;
    color: white;
    background-color:orangered;
}
#rating4{
    margin-top: 10px;
}
#blk3b5{
    padding-top: 40px;
    border-radius: 20px ;
    background-color:#D0CCC7;
    font-family: poppinsregular;
    text-align: center;
    width: 344px;
   
}
#blk3b5l{
    font-family: poppinsregular;
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
#blk3b5l a{
    width: 150px;
    border-radius: 20px;
    padding: 10px 20px;
    color: white;
    background-color:orangered;
}
#rating5{
    margin-top: 10px;
}
#blk3b6{
    padding-top: 40px;
    border-radius: 20px ;
    background-color:#D0CCC7;
    font-family: poppinsregular;
    text-align: center;
    width: 344px;
    
}
#blk3b6l{
    font-family: poppinsregular;
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
#blk3b6l a{
    width: 150px;
    border-radius: 20px;
    padding: 10px 20px;
    color: white;
    background-color:orangered;
}
#rating6{
    margin-top: 10px;
}
#blk4{
    display: flex;
    gap: 40px;
    background-color: #FFF4E7;
}

#blk4b1img1it{
    width: 181px; ;
    margin: 30px auto;
}
#blk4b1img1{
    margin-left: 500px;
    width: 181px;
    height: 181px;
}
#blk4b1img2{
    width: 664px;
    margin-top: 30px;
}
#blk4b1img2it{
    width: 664px;
}
#blk4b1img3{
    margin-left: 20px;
}
#blk4b2{
    height: 600px;
    margin: auto 0;
}
#blk4b2h2{
    font-weight: 100;
    font-size: 80px;
    color: orangered;
    font-family: tinosregular;
}
#blk4b2p{
    width: 433px;
    margin-top: 40px;
    font-family: poppinsregular;
    font-size: 20px;
    font-weight: 400;
}
#blk4b2a{
    border: 2px solid red;
    margin-top: 40px;
    border-radius: 20px;
    background-color: orangered;
    padding: 10px 40px;
    display: inline-block;
    font-family: poppinsregular;
}
#blk4b2ait{
    color: white;
}
#blk5 h2{
    font-family: tinosregular;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    padding: 20px 0;
    font-weight: 300;
    font-size: 80px;

}
#chefimages{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}
#blk5 h3{
    display: flex;
    justify-content: center;
    font-family: poppinsregular;
    margin-top: 10px;
}
#blk5 p{
    font-family: poppinsregular;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
#blk5 a{
    display: flex;
    background-color: orangered;
    color: white;
    margin: 50px auto;
    padding: 20px 40px;
    border-radius: 15px;
    width:145px;
    font-family: poppinsregular;

}
#blk6{
    background-image: url(../images/backgroundblk6.png);
    background-color: #D0CCC7;
}
#blk6 h2{
    font-family: tinosregular;
    font-weight: 100;
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#blk6b1{
    margin: 40px auto;
    text-align: center;
    width: 300px;
    padding: 20px;
}
#blk6b1 h3{
    margin-top: 30px;
    font-family: poppinsregular;
}
#blk6b1 p{
    font-family: poppinsregular;
}
#blk6b2 p{
    width: 524px;
    margin: 20px auto;
    font-family:poppinsregular;
    text-align: center;
    font-size: 20px;
}
#blk6b3{
    display: flex;
    justify-content: center;
}
#blk7main{
    margin-top: 200px;
    background-image: url(../images/BLK7BACKGROUND.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
#blk7 h2{
    font-family: tinosregular;
    color: white;
    font-weight: 100;
    padding-top: 100px;
    font-size: 80px;
}
#blk7 h3{
    color: white;
    font-size: 40px;
    font-family: poppinsregular;
    font-weight: 600;
    margin-top: 50px;
}
#blk7 p{
    color: white;
    font-family: poppinsregular;
    font-size: 20px;
    font-weight: 400;
    line-height: 200%;
}
#blk7 span{
    display: inline-block;
    color: white;
    font-family: poppinsregular;
    font-size: 20px;
    font-weight: 400;
    margin-left: 150px;
}
#blk7as{
    display: flex;
    align-items: center;
    gap: 100px;
    margin-top: 100px;
    justify-content: center;
}
#blk7a1{
    background-color: rgb(218, 168, 7);
    font-family: poppinsregular;
    color: white;
    border-radius: 10px;
    margin-bottom: 120px;
    padding: 20px 40px;
}
#blk7a2{
    background-color: white;
    font-family: poppinsregular;
    color: black;
    border-radius: 10px;
    margin-bottom: 120px;
    padding: 20px 40px;
}
footer{
    background-color: #311F09;
    display: flex;
    align-items: center;
    height: 500px;
    margin-top: 50px;
}
#fb1{
   width: 320px;
   margin-left: 50px;
}
#fb1p{
    margin-top: 40px;
    color: white;
    line-height: 40px;
    font-family: poppinsregular;
    font-size: 20px;
}
#fa{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}
#fb2{
    height: 330px;
    margin-left: 100px;
}
#fb2 h2{
    
    color: goldenrod;
    font-size: 30px;
    font-family: poppinsregular;
    margin-bottom: 50px;
}
#fb2 p{
    font-size: 25px;
    font-family: poppinsregular;
    gap: 30px;
    color: white;
}
#fb3{
    margin-left: 100px;
    height: 330px;
}
#fb3 h2{
     color: goldenrod;
    font-size: 30px;
    font-family: poppinsregular;
    margin-bottom: 50px;
}
#fb3 p{
    font-size: 25px;
    font-family: poppinsregular;
    gap: 30px;
    color: white;
}
#fb4{
      margin-left: 100px;
    height: 330px;
    width: 280px;
}
#fb4 h2{
     color: goldenrod;
    font-size: 30px;
    font-family: poppinsregular;
    margin-bottom: 50px;
}
#fb4 p{
    font-size: 25px;
    font-family: poppinsregular;
    gap: 30px;
    color: white;
}
#Copyright{
    background-color: #311F09;
    display: flex;
    justify-content: center;
}